@charset "uft-7";
/* CSS Document */

body {
  font-family: "Georgia", serif;
  color: black;
  line-height: 120%;
  margin: 50px;
  background-image: url("lasagna-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

header h2 {
  font-size: 250%;
  color: black;
  padding: 20px 20px 20px 0px;
  background-image: url("header.png");
  background-repeat: no-repeat;
  text-align: center;
}

section {
  margin-bottom: 50px;
  margin-left: 10px;
  padding: 5px;
  border: solid;
  background-color: rgba(255, 255, 255, .5);
}

#container {
  margin: 10px;
  line-height: 200%;
  float: left;
  border: flex;
  padding: 1%;
  padding-right: 0px;
  padding-bottom: 0px;
}

#mini {
    font-size: 150%;
    line-height: 300%;
}

#container h5 {
  text-align: center;
  font-size: 80%;
}

#container2 {
  margin: 30px;
  margin-left: 100px;
  line-height: 120%;
}

#container2 h3 {
  margin-left: -30px;
}

#mini2 {
  float: right;
  width: 300px;
  height: 200px;
  background-image: url("meat-lasagna.jpg");
  background-size: cover;
  border: flex;
  padding: 2%;
}

#container3 {
  margin: 30px;
}

nav {
  background-color: rgba(255, 255, 255, .5);
  padding: 1%;
  border: solid;
  float: top;
}

nav ul {
  padding: 3;
  list-style-type: none;
  flex: 1;
  display: flex;
}

nav li {
  display: inline;
  flex: 1;
}

aside {
  float: right;
  width: 350px;
  background-color: rgba(255, 255, 255, .75);
  border: solid;
  padding: 1%;
  margin-right: 0px;
  margin-left: 30px;
  margin-top:30px;
  line-height: 100%;
}

footer {
  text-align: center;
}