@charset "uft-8";
/* CSS DOCUMENT */

body {
  font-family: "Georgia", serif;
  color: black;
  line-height: 140%;
  margin: 30px;
  background-image: url("Background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #FFA3B8;
}

#cont {
  margin-bottom: 50px;
}

header h1 {
  font-size: 300%;
  color: #7C1A00;
  padding: 40px 40px 40px 150px;
  background-image: url("flower-color.jpg");
  background-repeat: no-repeat;
}

nav {
  color: white;
  float: left;
  width: 150px;
  background-color: #722F36;
  padding: 0px 30px 0px 30px;
}
