@charset "uft-8";
/* CSS DOCUMENT */

body {
  font-family: "Georgia", serif;
  color: black;
  line-height: 140%;
  margin: 30px;
  background-image: url("Valentines day hero.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #FFA3B8;
}

header h1 {
  font-size: 300%;
  color: #7C1A00;
  padding: 40px 40px 40px 150px;
  background-image: url("Valentines-header.jpg");
  background-repeat: no-repeat;
}

nav {
  float: left;
  width: 350px;
}

nav a {
  width: 150px;
}