@charset "uft-8";

body {
  background-image: url("watchList.jpg");
  background-image: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section {
  border: solid;
  padding: 1%;
  margin: 30px;
  background-color: rgba(255, 0, 50, 0.25);
  box-shadow: 10px 10px 7.5px gray;
  text-shadow: 10px 10px 2px gray;
}

article {
  margin-left: 15px;
}

article ol {
  line-height: 150%;
}

header {
  text-align: center;
  margin: 30px;
  text-shadow: 5px 5px 3px gray;
}

nav {
  float: right;
  width: 400px;
  background-color: rgba(255, 255, 150, 0.5);
  margin: 5px;
  padding: 3px;
  border: solid;
  box-shadow: 10px 10px 7.5px gray;
}
nav ol {
  line-height: 150%;
}

aside {
  border: solid;
  margin: 5px;
  padding: 1%;
  box-shadow: 10px 10px 7.5px gray;
}

#watch1:hover {
  color: red;
  background-color: black;
}

div#watch1 span#A {
  display: inline;
}
div#watch1:hover span#A {
  display: none;
}
div#watch1 span#a {
  display: none;
}
div#watch1:hover span#a {
  display: inline;
}

div#watch1 span#B {
  display: inline;
}
div#watch1:hover span#B {
  display: none;
}
div#watch1 span#b {
  display: none;
}
div#watch1:hover span#b {
  display: inline;
}

div#watch1 span#C {
  display: inline;
}
div#watch1:hover span#C {
  display: none;
}
div#watch1 span#c {
  display: none;
}
div#watch1:hover span#c {
  display: inline;
}

div#watch1 span#D {
  display: inline;
}
div#watch1:hover span#D {
  display: none;
}
div#watch1 span#d {
  display: none;
}
div#watch1:hover span#d {
  display: inline;
}

div#watch1 span#E {
  display: inline;
}
div#watch1:hover span#E {
  display: none;
}
div#watch1 span#e {
  display: none;
}
div#watch1:hover span#e {
  display: inline;
}

div#watch1 span#F {
  display: inline;
}
div#watch1:hover span#F {
  display: none;
}
div#watch1 span#f {
  display: none;
}
div#watch1:hover span#f {
  display: inline;
}

div#watch1 span#G {
  display: inline;
}
div#watch1:hover span#G {
  display: none;
}
div#watch1 span#g {
  display: none;
}
div#watch1:hover span#g {
  display: inline;
}

div#watch1 span#H {
  display: inline;
}
div#watch1:hover span#H {
  display: none;
}
div#watch1 span#h {
  display: none;
}
div#watch1:hover span#h {
  display: inline;
}

div#watch1 span#I {
  display: inline;
}
div#watch1:hover span#I {
  display: none;
}
div#watch1 span#i {
  display: none;
}
div#watch1:hover span#i {
  display: inline;
}

div#watch1 span#J {
  display: inline;
}
div#watch1:hover span#J {
  display: none;
}
div#watch1 span#j {
  display: none;
}
div#watch1:hover span#j {
  display: inline;
}

div#watch1 span#K {
  display: inline;
}
div#watch1:hover span#K {
  display: none;
}
div#watch1 span#k {
  display: none;
}
div#watch1:hover span#k {
  display: inline;
}

div#watch1 span#L {
  display: inline;
}
div#watch1:hover span#L {
  display: none;
}
div#watch1 span#l {
  display: none;
}
div#watch1:hover span#l {
  display: inline;
}

div#watch1 span#M {
  display: inline;
}
div#watch1:hover span#M {
  display: none;
}
div#watch1 span#m {
  display: none;
}
div#watch1:hover span#m {
  display: inline;
}

div#watch1 span#N {
  display: inline;
}
div#watch1:hover span#N {
  display: none;
}
div#watch1 span#n {
  display: none;
}
div#watch1:hover span#n {
  display: inline;
}

div#watch1 span#O {
  display: inline;
}
div#watch1:hover span#O {
  display: none;
}
div#watch1 span#o {
  display: none;
}
div#watch1:hover span#o {
  display: inline;
}

div#watch1 span#P {
  display: inline;
}
div#watch1:hover span#P {
  display: none;
}
div#watch1 span#p {
  display: none;
}
div#watch1:hover span#p {
  display: inline;
}